
@font-face {
  font-family: Mono;
  src: url("../fonts/SFMono/SFMono-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Calibre;
  src: url("../fonts/Calibre/Calibre-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: CalibreSB;
  src: url("../fonts/Calibre/Calibre-Semibold.woff");
}
