.mobile-navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  height: 100vh;
  backdrop-filter: blur(2px);
  .nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: $bg;
    height: 100vh;
    float: right;
    .closeBtn {
      position: absolute;
      top: 2rem;
      right: 2rem;
      border: none;
      background: none;
      svg {
        color: $green;
        font-size: 30px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      gap: 1.5rem;
      li {
        list-style-type: none;
        cursor: pointer;
        span {
          color: $green;
        }
      }
    }
    .resume-btn {
      color: $green;
      background: transparent;
      border: 1px solid $green;
      border-radius: 5px;
      transition: 0.3s all ease;
      margin-top: 50px;
      cursor: pointer;
      transition: 0.25s all ease;
      a {
        display: block;
        padding: 0.8rem 2rem;
        color: $green;
      }
      &:hover,
      &:active {
        background-color: $green_tint;
        transform: scale(1.05);
      }
    }
  }
}
