@import '../../styles/variables.scss';
.navbar-container {
  display: flex;
  justify-content: center;
  .navbar {
    z-index: 9;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 1.2rem auto;
    width: 95%;
    padding: 0.75rem 1.2rem;

    background: rgba(10, 25, 47, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    .logo {
      display: flex;
      align-items: center;
      p {
        line-height: 1;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Helvetica', sans-serif;
      }
      img {
        width: 50px;
        border-radius: 50%;
        margin-right: 1rem;
      }
      @keyframes animate {
        0% {
          background-position: -500px;
        }
        100% {
          background-position: 500px;
        }
      }
    }
    .nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        font-size: 13px;
        li {
          list-style-type: none;
          margin: 0 20px;
          cursor: pointer;

          span {
            color: $green;
          }
        }
      }
      button {
        color: $green;
        background: transparent;
        border: 1px solid $green;
        border-radius: 5px;
        transition: 0.3s all ease;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.25s all ease;
        a {
          display: block;
          padding: 0.75rem 1.2rem;
          color: $green;
        }
        &:hover,
        &:active {
          background-color: $green_tint;
          transform: scale(1.05);
        }
      }
    }
    .burger-btn {
      display: none;
      background: none;
      border: none;
      padding: 0.2rem;
    }
  }

  @media screen and (max-width: 900px) {
    .navbar {
      p {
        display: none;
      }
    }
  }
  @media screen and (max-width: 670px) {
    .navbar {
      width: 95%;
      padding: 0.3rem 0.8rem;
      .nav {
        display: none;
      }
      .burger-btn {
        display: block;
        .burger {
          display: block;
          color: $green;
          font-size: 1.5rem;
        }
      }
    }
  }
}
