@import "./styles/custom.scss";
@import "./styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Mono;
  width: 100%;
  height: 100vh;
  background-color: $bg;
  color: #fff;
}
a {
  text-decoration: none;
  color: $light-slate;
  &:hover {
    color: $green;
  }
}
li {
  list-style-type: none;
}
section {
  margin: 0 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App {
  width: 100%;
  height: 100vh;
  z-index: 2; 
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
}
.home {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}
#tsparticles {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -9;
}

/* HERO SECTION */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  p:first-child {
    margin: 50px 0 30px 4px;
    color: $green;
    font-family: Mono;
    font-size: 1rem;
    font-weight: 400;
    @media (max-width: 480px) {
      margin: 0 0 20px 2px;
    }
  }
  .summary {
    max-width: 540px;
    margin: 20px 0 0;
    color: $slate;
    font-family: "Poppins", sans-serif;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  h1 {
    font-size: clamp(40px, 8vw, 80px);
    color: $slate;
    font-family: CalibreSB;
    background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:nth-child(2){
      color: $lightest_slate;
    }
  }
  button {
    background: none;
    border: none;
    text-align: center;
    margin-top: 50px;
    a {
      color: $green;
      padding: 1.25rem 1.75rem;
      border: 1px solid $green;
      letter-spacing: 2px;
      &:hover {
        background-color: $green_tint;
      }
    }
  }
}

/* Social Links */

.social {
  position: fixed;
  bottom: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
  }
  li {
    &:last-of-type {
      margin-bottom: 20px;
    }
    a {
      padding: 10px;
      transition: .3s all ease;
      color: $light-slate;
      &:hover svg,
      &:focus svg{
        color: $green;
        transform: translateY(-3px);
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.email {
  position: fixed;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
  }
  a {
    margin: 20px auto;
    padding: 10px;
    font-family: Mono;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    color: $light-slate;
    &:hover,
    &:focus {
      transform: translateY(-3px);
      color: $green;
    }
  }
}
/* ABOUT */

.about {
  margin: 100px;
  h1 {
    font-family: CalibreSB;
    font-size: clamp(26px, 5vw, 32px);
    color: $lightest-slate; 
    margin-bottom: 40px;  
    position: relative;
    span {
      color: $green;
      font-family: Mono;
      font-size: clamp(16px, 3vw, 20px);
    }
    &:after {
      content: '';
      position: absolute;
      top: 12px;
      margin-left: 20px;
      width: 60%;
      height: 1px;
      background-color: $light-slate;
    }
  }
  p {
    font-family: Calibre;
    color: $slate;
    font-size: 20px;
    line-height: 26px;
  }
}

